include ../icon/icon

mixin nav(list)
	+b('nav').nav--visible(class='__nav js_nav')&attributes(attributes)
		+e('ul').list&attributes(attributes)
			each item in list
				case item.modClass
					when '--search'
						+e('li').item(class=item.modClass)
							+e(a).link(href=item.href)
								+icon('icon--search', 'nav-search', '18', '18', true)&attributes(attributes)
								span #{item.content}

					when '--cart'
						+e('li').item(class=item.modClass)
							+e(a).link(href=item.href)
								+icon('icon--cart', 'nav-cart', '20', '18', true)&attributes(attributes)
								span #{item.content}

					default
						+e('li').item(class=item.modClass)
							+e(a).link(href=item.href)
								span #{item.content}
