mixin toggleInput(item, inputType)
	+b('label')(class=inputType)
		+e('input').input(type=item.inputType, name=item.name, checked=item.isChecked, disabled=item.isDisabled)
		+e('caption').caption !{item.label}
