include ../icon/icon

mixin main-nav(list)
	+b('nav').main-nav--visible&attributes(attributes)
		+e.logo(class='--visible')
			+e('a').link(href='#')
				+icon('logo', 'logo-mobile', true, '86', '35')&attributes(attributes)
			+e('a').link(href='#')
				+icon('icon--close', 'nav-toggle-close', true, '22', '22')&attributes(attributes)
		+e('ul').list(class='--visible')&attributes(attributes)
			each item in list
				case item.modClass
					when '--search'
						+e('li').item(class=item.modClass)
							a(href=item.href)
								+icon('icon--search', 'nav-search', true, '18', '18')&attributes(attributes)
								span=item.content

					when '--cart'
						+e('li').item(class=item.modClass)
							a(href=item.href)
								+icon('icon--cart', 'nav-cart', true, '20', '18')&attributes(attributes)
								span=item.content

					default
						+e('li').item(class=item.modClass)
							a(href=item.href)
								span=item.content

		+e.logo
			+e('a').link(href='#')
				+icon('logo', 'logo-mobile', true, '86', '35')&attributes(attributes)
			+e('a').link(href='#')
				+icon('icon--open', 'nav-toggle-open', true, '20', '14')&attributes(attributes)
