mixin featured-product(item)
	+b.featured-product&attributes(attributes)
		+e('h1').heading
			| !{item.heading}
		+e.tag
			| !{item.tag}
		+e.description
			| !{item.description}
		+e('table').features
			tbody
				tr
					th(scope='row') Цвет:
					+e('td').feature !{item.color}
				tr
					th(scope='row') Диаметр:
					+e('td').feature !{item.diameter}
				tr
					th(scope='row') Высота:
					+e('td').feature !{item.height}
		picture
			source( media='(min-width: 768px)', srcset=item.imgTabDesk + ' 1x, ' + item.imgTabDesk2x + ' 2x' )
			+e('img').image(src=item.imgMobile, srcset= item.imgMobile2x + ' 2x', alt=item.imgAlt, title=item.imgAlt)
		+e.price
			| Цена: !{item.price}.
		+e('a').btn
			| Заказать


